<h1>Meet The 2nd Hand Soldiers</h1>


 
<% @band_members.each do |member| %>
  <ul>
    <li><%= member.name %> | <%= member.role %></li>
    <li><%= member.description %></li>
  </ul>
  <br/>
<% end %>