<h1>Meet The 2nd Hand Soldiers</h1>


 
<% @band_members.each do |member| %>
  <ul>
    <li><%= link_to("#{member.name}", band_member_path(member.id)) %> | <%= member.role %></li>
    <li><%= member.description %></li>
  </ul>
  <br/>
<% end %>
